body {
    background-image: url(https://t3.ftcdn.net/jpg/02/36/99/22/240_F_236992283_sNOxCVQeFLd5pdqaKGh8DRGMZy7P4XKm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
a {
    color: rgb(255, 0, 212);
}